@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

html {
  font-family: 'Noto Sans JP', sans-serif;
}

.icon {
  width: 30px;
  height: 30px;
}

.markdown-body {
  font-family: 'Noto Sans JP', sans-serif !important;
}
.markdown-body h1 {
  margin-top: 2rem !important;
  font-weight: bold !important;
  font-size: 1.4rem !important;
  padding:2rem 1rem !important;
  background-color: rgb(0, 93, 155) !important;
  color: white;
  margin-bottom: 1.5rem;
}
.markdown-body h2 {
  font-weight: bold !important;
  font-size: 1.3rem !important;
  padding:0.3rem 0.5rem !important;
  border-bottom: 3px solid rgb(0, 98, 179) !important;
  margin-bottom: 1rem !important;
}
.markdown-body h3 {
  font-size: 1.2rem !important;
  padding: 0.2rem 0.4rem !important;
  border-bottom: 1px solid rgb(196, 196, 196) !important;
  margin-bottom: 0.7rem !important;
}
.markdown-body h4 {
  font-weight: bold !important;
  font-size: 1.1rem !important;
  padding: 0.2rem 0.4rem !important;
}
.markdown-body h5 {
  font-weight: bold !important;
  font-size: 1rem !important;
  padding: 0.2rem 0.4rem !important;
}
.markdown-body h6 {
  font-weight: bold !important;
  font-size: 0.9rem !important;
  padding: 0.2rem 0.4rem !important;
}
.markdown-body pre {
  background-color: rgb(26, 26, 26) !important;
  color: white !important;
}
